.searchCon {
  width: 100%;
  .moreButton {
    margin-top: 20px;
    width: 100px;
    margin-left: 580px;
  }
  .searchFormCon {
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
  }

  .searchButton {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
  }
}